<div class="team">
    <h3 style="text-align: center;">Team</h3>
    <div class="scroll">
        <div class="teamCard">

            <mat-card class="card marginR">
                <mat-card-header style="justify-content: center;">
                    <mat-card-title>Founder: Alessandro Laregina</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/img/killua.jpg" />
            </mat-card>

            <mat-card class="card marginUp">
                <mat-card-header style="justify-content: center;">
                    <mat-card-title>Project Manager: Alessio Melia</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/img/Luffy.jpg" />
            </mat-card>
        </div>
        <div class="teamCard" style="margin-top: 20px;">
            <mat-card class="card marginR">
                <mat-card-header style="justify-content: center;">
                    <mat-card-title>Senior Developer: Luca Moro</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/img/jotaro.jpg" />
            </mat-card>

            <mat-card class="card marginUp">
                <mat-card-header style="justify-content: center;">
                    <mat-card-title>Designer: Sefora Maganuco</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/img/se.png" />
            </mat-card>
        </div>
    </div>
    <div style="text-align: center; margin-top: 5px;">
        <button mat-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>