<div class="dialog">
    <h3>Quali sono gli obiettivi dell’azienda?</h3>
    <p> Semplificare e sopratutto rendere il più efficente possible l’ intervento per il soccorso da parte
        delle autorità competenti verso i cittadini.
    </p>
    <h3>In che contesto commerciale si inserisce?</h3>
    <p>Si potrebbe inserire in un contesto regionale/statale</p>
    <h3>Qual’è il prodotto/servizio che rappresenta il business dell’azienda?</h3>
    <p>Un’ applicazione che una volta installata sul proprio smartphone e concedendo i permessi
        necessari sarà poi in grado di intervenire preventivamente sulla chiamate verso i soccorsi
        competenti e rendere più sicure le chiamata verso tali autorità dato che una volta avviata la
        chiamata vengono inviati posizione e dati della persona a cui è intestato il profilo/smartphone.</p>
    <h3>Qual’è la motivazione della tua scelta?</h3>
    <p>Svecchiare il sistema che c’è adesso e semplificare il lavoro dei soccorsi avendo in mano posizione
        per intervenire e un profilo reale in caso in cui fosse una burla</p>
    <h3>Quali sono le caratteristiche distintive della tua azienda?</h3>
    <p>Un’ azienda composta da max 10 persone che però sta a cuore l’ evoluzione della vita di tutti i
        giorni.</p>
    <h3>Quali sono i punti di forza della tua attività?</h3>
    <p>E’ un attività non a scopo di lucro ma che si andrebbe a finzanziare con l’aiuto regionale/statale e
        da parte dei cittadini che vorrano contribuire con delle donazioni dirattemente dall’ app</p>
    <h3>Quali sono gli aspetti innovativi su cui vuoi puntare con la tua attività?</h3>
    <p>Sicuramente la facilità di utilizzo, in modo che anche i piu anziani possano essere in grado di
        utilizzarla e la possibilità di chi non possedesse uno smartphone un dispositivo(smart band), per le
        persone molto giovani o anziani che sarà in grado di chiamare i soccorsi in automatico grazie ad un
        inteliggenza artificiale che verrà programmato per fare ciò.</p>
</div>
<div style="text-align: center; margin-top: 5px;">
    <button mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>