<div class="container">
    <div class="iconBack">
        <mat-icon routerLink="">arrow_back</mat-icon>
    </div>
    <div class="title">APP</div>
</div>
<div class="box">
    <!-- AI -->
    <div style="text-align: -webkit-center;">
        <img class="imageClass2" mat-card-image src="../../assets/img/app1.png" />
    </div>
    <div style="margin: 20px 0;"></div>

    <!-- APP -->
    <div style="text-align: -webkit-center;">
        <img class="imageClass2" mat-card-image src="../../assets/img/app2.png" />
    </div>
    <div style="margin: 20px 0;"></div>
    <!-- Smart Band -->
    <div style="text-align: -webkit-center;">
        <img class="imageClass2" mat-card-image src="../../assets/img/app3.png" />
    </div>
</div>
<div style="margin-bottom: 20px;"></div>