<div class="container">
    <div class="iconBack">
        <mat-icon routerLink="">arrow_back</mat-icon>
    </div>
    <div class="title">Intelligenza Artificiale</div>
</div>
<div class="box">
    <!-- AI -->
    <div style="text-align: -webkit-center;">
        <mat-card class="example-card">
            <mat-card-header style="justify-content: center;">

            </mat-card-header>
            <img class="imageClass" mat-card-image src="../../assets/img/ia1.jpg" />
            <mat-card-content>
                <p>
                    L'intelligenza artificiale e' stata pensata per studiare l'utente che utilizza l'app o la smart-band
                    in modo da conoscere le sue abitudini e capire quando ci sono eventi non ordinari come emergenze o
                    pericoli, cosi' da chiamare i soccorsi o le forze dell' ordine in base alla necessita'
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="margin: 20px 0;"></div>

    <!-- APP -->
    <div style="text-align: -webkit-center;">
        <mat-card class="example-card">
            <mat-card-header style="justify-content: center;">
            </mat-card-header>
            <img class="imageClass" mat-card-image src="../../assets/img/ai2.jpg" />
            <mat-card-content>
                <p>
                    La tecnologia ha fatto passi da gigante negli ultimi anni e grazie ai nostri ingegneri siamo
                    riusciti a creare BonsAI
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="margin: 20px 0;"></div>
    <!-- Smart Band -->
    <div style="text-align: -webkit-center;">
        <mat-card class="example-card">
            <mat-card-header style="justify-content: center;">
            </mat-card-header>
            <img class="imageClass" mat-card-image src="../../assets/img/ai3.jpg" />
            <mat-card-content>
                <p>
                    BonsAI, la nostra intelligenza artificiale, e' circondata da sensori di movimento e accellerometri
                    che le consentono, grazie a degli algoritmi studiati ad hoc, di capire cosa la circonda e ogni
                    situazione in cui si trova
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>