<div class="container">
    <div class="iconBack">
        <mat-icon routerLink="">arrow_back</mat-icon>
    </div>
    <div class="title">BandAI</div>
</div>
<div class="box" style="margin-top: 100px;">
    <!-- AI -->
    <div style="text-align: -webkit-center;">
        <img class="imageClass3" mat-card-image src="../../assets/img/band1.png" />
    </div>
    <div style="margin: 20px 0;"></div>

    <!-- APP -->
    <div style="text-align: -webkit-center;">
        <img class="imageClass3" mat-card-image src="../../assets/img/band2.png" style="margin: 50px 0;" />
    </div>
    <div style="margin: 20px 0;"></div>
    <!-- Smart Band -->
    <div style="text-align: -webkit-center;">
        <img class="imageClass3" mat-card-image src="../../assets/img/band3.png" />
    </div>
</div>
<div style="margin-bottom: 20px;"></div>